.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#scores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
